<p id="notice"><%= notice %></p>

<h1>Listing Mma Events</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th>Event link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mma_events.each do |mma_event| %>
      <tr>
        <td><%= mma_event.organization %></td>
        <td><%= mma_event.name %></td>
        <td><%= mma_event.date %></td>
        <td><%= mma_event.location %></td>
        <td><%= mma_event.event_link %></td>
        <td><%= link_to 'Show', mma_event %></td>
        <td><%= link_to 'Edit', edit_mma_event_path(mma_event) %></td>
        <td><%= link_to 'Destroy', mma_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mma event', new_mma_event_path %>
